body{
  margin: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #38dbff;
  z-index: -5;
  font-family: 'Darker Grotesque', sans-serif;
}

#hud {
position: absolute;
top: 0px;
left: 0px;
padding: 10px 20px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 32px;
background: rgba(0, 60, 200, 0.5);
border-top-right-radius: 20px;
border-end-end-radius: 20px;
font-family: 'Darker Grotesque';
font-size: xx-large;
font-weight: 400;

}

#board{
  background: rgba(0,255,100,0.75);
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1px;
  z-index: -3;
  
}

#board .pixel {
  background: #00ff75;
}

#board .pixel.snake {
  background: #000000;
}

#board .pixel.food {
  background: #ff5d5d;
}

.box {
  width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -4;
    
}

#board-container {
  display: flex;
  justify-content: center;
  
}

#game-over{
  position: absolute;
  background-color: #ffb443;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  display: grid;
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  z-index: -2;
  color: azure;
  font-family: 'Darker Grotesque';
font-size: x-large;
font-weight: 400;
}


#restart{
  background-color: #ffb443;
  border: 2px solid #00ff75;
  padding:20px 50px;
  font-weight: bold;
  font-size:30px;
  position:relative;
  color:#00ff75;
}

#restart:after{
  content:'';
  position:absolute;
  background-color:#00ff75;
  top:8px;
  left:8px;
  right:-8px;
  bottom:-8px;
  z-index:-1;
}

#restart:hover{
  color:#ffb443;
  background-color:#00ff75;
  transition: all 0.3s ease;
}
#restart:hover:after{
  background-color:#ffb443;
  border:2px solid #00ff75;
  transition: all 0.3s ease;
}